{{ if ne .chezmoi.os "windows" }}
.config/nvim/lua/utils/win_ime_toggle.lua
.chezmoiscripts/windown/**
.config/pwsh/
.config/fzf/*.ps1
.config/television/windown_channels.toml
{{else}}
.config/kitty/
.config/nvim/lua/plugins/image.lua
.config/tmux/
.zshrc
.config/fzf/*.zsh
.config/ghostty/
.config/zinit/zinit.zsh
.config/television/darwin_channels.toml
.chezmoiscripts/*.sh
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.aerospace.toml
{{ end }}

README.md
package/
