{{ if ne .chezmoi.os "windows" }}
[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{ end }}

[".config/emacs"]
    type = "git-repo"
    url = "https://github.com/doomemacs/doomemacs"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/mihomo/Country.mmdb"]
      type = "file"
      url = "https://github.com/Loyalsoldier/geoip/releases/latest/download/Country.mmdb"
      refreshPeriod = "168h"
