{{ if ne .chezmoi.os "windows" }}
Documents
setup.ps1
.config/nvim/lua/utils/win_ime_toggle.lua
{{ end }}
{{ if ne .chezmoi.os "darwin" }}
.config/kitty/
.config/nvim/lua/plugins/image.lua
.config/tmux/
.tmux.conf
.zshrc
.config/fzf/
{{ end }}
README.md
