{{ if ne .chezmoi.os "windows" }}
Documents
setup.ps1
.config/nvim/lua/utils/win_ime_toggle.lua
.chezmoiscripts/windown/**
.config/pwsh/
.config/fzf/*.ps1
{{ end }}
{{ if ne .chezmoi.os "darwin" }}
.config/kitty/
.config/nvim/lua/plugins/image.lua
.config/tmux/
.tmux.conf
.zshrc
.config/fzf/*.zsh
.config/ghostty/
.chezmoiscripts/darwin/**
.config/zinit/zinit.zsh
.aerospace.toml
{{ end }}
README.md
package/
