[credential "http://192.168.0.77"]
	provider = generic
[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for {{ .chezmoi.config.color }}-detection

[merge]
  conflictstyle = zdiff3
