[credential "http://192.168.0.77"]
	provider = generic
[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
  pager = {{ .chezmoi.config.diff.command }}

[interactive]
  diffFilter = {{ .chezmoi.config.diff.command }} --color-only

[{{ .chezmoi.config.diff.command }}]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for {{ .chezmoi.config.color }}-detection

[merge]
  conflictstyle = zdiff3
