[metadata]
name = "git-log"
description = "A channel to select from git log entries"
requirements = ["git"]

[source]
{{ if ne .chezmoi.os "windows" }}
command = "git log --oneline --date=short --pretty=\"format:%h %s %an %cd\" \"$@\""
{{else}}
command = "git log --oneline --date=short --pretty=\"format:%h %s %an %cd\""
{{end}}
output = "{split: :0}"

[preview]
command = "git show -p --stat --pretty=fuller --color=always '{0}'"
